<header>
  <div id="header-wrapper">
    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
  </div>
    <nav class="navbar navbar-default">
      <div class="container">
	<ul class="nav navbar-nav">
	<li><a href="{{ site.baseurl }}/">Home</a></li>
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}
	</ul>

      </div>
    </nav>
</header>
